/* .form-container {
    padding: 1rem;;
    display: grid;
    justify-items: center;
    align-items: center;
}
.form__input-field {
    margin-bottom: .5rem;
}

.user__input {
    border: .1em solid #000;
    margin-left: .5rem;
}
.user__input:focus {
    outline: none;
    border: .3em solid #000;
} */