* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.header-font {
    font-family: 'Roboto', sans-serif;
}

.input-field label {
    color: #000;
}

.input-field input[type=text]:focus+label {
    color: #000;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.p-1 {
    padding: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}